/* add css module styles here (optional) */
:root {
  --grey0: rgb(245, 245, 245);
  --grey1: rgb(214, 214, 214);
  --grey2: rgb(201, 201, 201);
}

.browser,
.window {
  border-radius: 10px;
  height: min-content;
}
.browser img,
.window img{
  padding: 0;
  margin: 0;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}

.browserHeader,
.windowHeader{
  border-radius: 10px 10px 0px 0px;
  background-color: var(--grey1);
  width: auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(172, 172, 172);
}
.browserHeader {
  height: 45px;
  justify-content: space-between;
}
.windowHeader{
  height: 35px;
}
.browserButtons,
.windowHeader,
.browserSearchBar span{
  display: flex;
  align-items: center;
}
.browserButtons div,
.windowHeader div{
  border-radius: 50px;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-color: grey;
}
.browserSearchBar{
  background-color:white;
  border-radius: 5px;
  padding: 0.3em 1em;
  display: flex;
  align-items: center;
  gap: 1em;
}

/* types */
.browserButtons span,
.windowHeader span{
  font-weight: bold;
  margin-left: 0.5em;
}
.mac .browserButtons div:first-child,
.mac .windowHeader div:first-child  {
  background-color: #ff605c;
}
.mac .browserButtons div,
.mac .windowHeader div  {
  background-color: #ffbd44;
}
.mac .browserButtons div:last-child,
.mac .windowHeader div:last-child{ 
  background-color: #00ca4e;
}

.outline .browserButtons div,
.outline .windowHeader div {
  border: 2px solid grey;
  background-color: transparent;
}

.iphone1 img {
  border: 0.15em solid var(--grey1);
  -o-object-fit: cover;
  object-fit: cover;
}

.iphone1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  margin: 2em;
  height: fit-content;
  width: fit-content;
  padding: 0 0.5em 0 0.5em;
  background-color: white;
}
.iphone1 img {
  border: 0.15em solid var(--grey1);
  -o-object-fit: cover;
  object-fit: cover;
}
.iphone1 .speakerGrill {
  margin: 1.7em auto;
  height: 0.3em;
  width: 3em;
  border-radius: 50px;
  background-color: var(--grey1);
}
.iphone1 .homeButton {
  margin: 0.7em auto;
  height: 2em;
  width: 2em;
  border: 0.15em solid var(--grey1);
  border-radius: 50px;
  background-color: var(--grey0);
}
